		*{ margin:0; padding:0;list-style: none;}
		#outer {
			display:none;
			position:absolute;
			width:367px;
			margin:auto;
		}
		#tab {
			overflow:hidden;
			zoom:1;
			font:12px/1.5 Tahoma;
			list-style: none;
			background:#5CACEE;
			border:1px solid #000;
			border-bottom-width: 0px;
			margin:auto;
			
		}
		#tab > li {
			float:left;
			color:#FFFFFF;
			width:73px;
			height:30px;	
			cursor:pointer;	
			line-height:30px;
			padding:0 10px;
			border:1px solid #000;
			border-top-width:0;
			border-right-width:0;
		}
		#tab > li:first-child {
			border-left-width:0;
		}
		#tab > li.current {
			color:#000;
			background:#FFFFFF;
			border-bottom-width:0;
		}
		#content {
			font:15px/1.5 "Microsoft YaHei";
			background:#FFFFFF;
			list-style: none;
			border:1px solid #000;
			border-top-width:0;
		}
		#content > li {
			line-height:25px;
			display:none;	
			margin:0px;
			padding:0px;
		}
		
		#content > li dl{
			overflow:hidden;
			zoom:1;
			margin-bottom:4px;
		}
		
		#content > li dl dt {
			width:15px;
			color:#FF0000;
			margin-left:8px;
			cursor:pointer;
		}
		#content > li dl dd {
			margin:-21px 0px 0px 28px;
		}
		
		#content > li dl dd li {
			width:84px;
			padding-left:5px;
			float:left;
			cursor:pointer;
		}
		#content > li dl dd li:hover {
			background:#ccc;
		}